.imageSize {
    height: 200px;
    width: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 1px;
}

.main {
    display: flex;
    flex-direction: row;
}

.directions {
    margin-left: 40px;
}

.secondaryContent {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 600px;
}